*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 450px; 
    padding: 30px 25px; 
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

h1{
    color: rgb(12, 130, 226);
    font-size: 40px;
    margin-bottom: 5px;
}
p{
    margin-top: 0;       
    margin-bottom: 20px; 
    font-size: 16px;
    color: #555;
    
}

input{
    width: 100%; 
    height: 45px;
    border-radius: 10px;
    outline: none;
    border: 1px solid grey;
    padding-left: 1rem;
}

label{
    align-self: flex-start;
    font-size: 13px;
}

.checkbox-wrapper {
    width: 100%; 
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; 
}

button{
    background: #000;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 12px;
    color: white;
    font-weight: bold;
    width: 100%; 
}

::placeholder {
    color: #000202;
    font-size: 14px;
    opacity: 1; 
}